<div class="card" style="width: 14rem;">
    <img [src]="book.imgsrc" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{book.name}}</h5>
        <p class="card-text">Author : {{book.author}}</p>
       <!--Multiple ways to for nf ig else condition-->
       <!--Using ternary operator---->
        <p class="card-text">Price : {{book.price ? book.price : 'Not available'}}</p>
        <!--Using ng container ---->
       <!-- <ng-container *ngIf="book.price">{{book.price}}</ng-container>
       <ng-container *ngIf="!book.price">Not available</ng-container> -->
       
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>